@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@600&display=swap');
html,
body {
    background-color: #EAF0FB;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.MainPage {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(360deg, rgba(255, 255, 255, 1) 0%, rgba(180, 208, 254, 1) 20%);
    display: grid;
}

.cool-gradient {
    background: rgb(255, 255, 255);
    background: linear-gradient(360deg, rgba(255, 255, 255, 1) 0%, rgba(180, 208, 254, 1) 20%);
}

.subtitle {
    color: #6887BB;
}

.font-link {
    font-family: 'MuseoModerno', cursive;
  }
  